<h1><%= @project.title %></h1>

<p><%= @project.description %></p>

<h3><%= link_to "Items", project_items_url(@project.id) %></h3>

<form action="<%= batch_update_url %>" method="post">
  <ul>
    <% @project.items.each do |item| %>
        <input type="hidden" name="items[<%= item.id %>][completed]" value="<%= false %>">
        <%= check_box_tag "items[#{item.id}][completed]", "true", item.completed? %>
        <%= link_to item.title, item_url(item) %>, <%= link_to "Edit", edit_item_url(item) %>
      <ul>
        <li><%= item.description %></li>
        <li>Completed: <%= item.completed? ? "Yes" : "No" %></li>
      </ul>
    <% end %>
  </ul>
  <input type="hidden" name="_method" value="put">
  <input type="submit" value="Update items">
</form>
<br>
<%= link_to "Team", team_url(@project.team) %>